<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.CantonAdministrationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.CantonAdministration">
        <id column="ADMINISTRATION_ID" property="administrationId" />
        <result column="ADMINISTRATION_STATE" property="administrationState" />
        <result column="STAFF_ID" property="staffId" />
        <result column="DEPT_ID" property="deptId" />
        <result column="POSITION_ID" property="positionId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ADMINISTRATION_ID, ADMINISTRATION_STATE, STAFF_ID, DEPT_ID, POSITION_ID, DELETED
    </sql>

</mapper>
