<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.CantonSatffsignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.CantonSatffsign">
        <id column="SIGN_ID" property="signId" />
        <result column="SIGN_STATE" property="signState" />
        <result column="SIGN_DATE" property="signDate" />
        <result column="STAFF_ID" property="staffId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SIGN_ID, SIGN_STATE, SIGN_DATE, STAFF_ID, DELETED
    </sql>

</mapper>
