<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.CantonInterviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.CantonInterview">
        <id column="INTERVIEW_ID" property="interviewId" />
        <result column="INTERVIEW_CENTENT" property="interviewCentent" />
        <result column="INTERVIEW_STATE" property="interviewState" />
        <result column="PERSONAL_ID" property="personalId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        INTERVIEW_ID, INTERVIEW_CENTENT, INTERVIEW_STATE, PERSONAL_ID, DELETED
    </sql>

</mapper>
