<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.EctClassrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.EctClassrecord">
        <id column="CLASSRECORD_ID" property="classrecordId" />
        <result column="CLASSES_ID" property="classesId" />
        <result column="COURSE_ID" property="courseId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="STUDENTATTEND_ID" property="studentattendId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CLASSRECORD_ID, CLASSES_ID, COURSE_ID, STAFF_ID, STUDENTATTEND_ID, DELETED
    </sql>

</mapper>
