<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.EctLeaveschoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.EctLeaveschool">
        <id column="LEAVESCHOOL_ID" property="leaveschoolId" />
        <result column="STUDENT_ID" property="studentId" />
        <result column="LEAVESCHOOL_DATE" property="leaveschoolDate" />
        <result column="LEAVESCHOOL_REASON" property="leaveschoolReason" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <resultMap id="mapOne" type="com.trkj.train.TyVo.tuixuesqDo">
        <result column="LEAVESCHOOL_ID" property="leaveschoolId" />
        <result column="STUDENT_ID" property="studentId" />
        <result column="student_name" property="studentName"/>
        <result column="student_sex" property="studentSex"/>
        <result column="student_age" property="studentAge"/>
        <result column="student_phone" property="studentPhone"/>
        <result column="parent_phone" property="parentPhone"/>
        <result column="LEAVESCHOOL_DATE" property="leaveschoolDate" />
        <result column="LEAVESCHOOL_REASON" property="leaveschoolReason" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        LEAVESCHOOL_ID, STUDENT_ID, LEAVESCHOOL_DATE, LEAVESCHOOL_REASON, DELETED
    </sql>
    <select id="selecttuixue" resultMap="mapOne">
        SELECT * FROM ect_leaveSchool e
                          LEFT JOIN recruit_student r on e.STUDENT_ID=r.STUDENT_ID
            ${ew.customSqlsegment}
    </select>

</mapper>
