<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.EctStudentleaveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.EctStudentleave">
        <id column="STUDENTLEAVE_ID" property="studentleaveId" />
        <result column="STUDENTLEAVE_STARTIME" property="studentleaveStartime" />
        <result column="STUDENTLEAVE_ENDTIME" property="studentleaveEndtime" />
        <result column="STUDENTLEAVE_REASON" property="studentleaveReason" />
        <result column="STUDENT_ID" property="studentId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STUDENTLEAVE_ID, STUDENTLEAVE_STARTIME, STUDENTLEAVE_ENDTIME, STUDENTLEAVE_REASON, STUDENT_ID, DELETED
    </sql>

</mapper>
