<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.EctStudentattendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.EctStudentattend">
        <id column="STUDENTATTEND_ID" property="studentattendId" />
        <result column="STUDENTATTEND_TYPE" property="studentattendType" />
        <result column="STUDENTATTEND_DATE" property="studentattendDate" />
        <result column="STUDENT_ID" property="studentId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STUDENTATTEND_ID, STUDENTATTEND_TYPE, STUDENTATTEND_DATE, STUDENT_ID, DELETED
    </sql>

</mapper>
