<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.EctTeachrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.EctTeachrecord">
        <id column="TEACHRECORD_ID" property="teachrecordId" />
        <result column="TEACHRECORD_DATE" property="teachrecordDate" />
        <result column="TEACHING_ID" property="teachingId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TEACHRECORD_ID, TEACHRECORD_DATE, TEACHING_ID, DELETED
    </sql>

</mapper>
