<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.EctTransferrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.EctTransferrecord">
        <id column="TRANSFERRECORD_ID" property="transferrecordId" />
        <result column="STUDENT_ID" property="studentId" />
        <result column="TRANSFERRECORD_STATE" property="transferrecordState" />
        <result column="CLASSES_ONE" property="classesOne" />
        <result column="CLASSES_TWO" property="classesTwo" />
        <result column="TRANSFERRECORD_DATE" property="transferrecordDate" />
        <result column="TRANSFERRECORD_REASON" property="transferrecordReason" />
        <result column="STAFF_ID" property="staffId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TRANSFERRECORD_ID, STUDENT_ID, TRANSFERRECORD_STATE, CLASSES_ONE, CLASSES_TWO, TRANSFERRECORD_DATE, TRANSFERRECORD_REASON, STAFF_ID, DELETED
    </sql>

</mapper>
