<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.NavigationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.Navigation">
        <id column="NAVIGATION_ID" property="navigationId" />
        <result column="NAVIGATION_NAME" property="navigationName" />
        <result column="NAVIGATION_PID" property="navigationPid" />
        <result column="NAVIGATION_URL" property="navigationUrl" />
        <result column="NAVIGATION_ICON" property="navigationIcon" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NAVIGATION_ID, NAVIGATION_NAME, NAVIGATION_PID, NAVIGATION_URL, NAVIGATION_ICON, DELETED
    </sql>

</mapper>
