<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.NewsSuggestionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.NewsSuggestions">
        <id column="SUGGESTIONS_ID" property="suggestionsId" />
        <result column="SUGGESTIONS_CONTENT" property="suggestionsContent" />
        <result column="SUGGESTIONS_DATE" property="suggestionsDate" />
        <result column="STAFF_ID" property="staffId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SUGGESTIONS_ID, SUGGESTIONS_CONTENT, SUGGESTIONS_DATE, STAFF_ID, DELETED
    </sql>

</mapper>
