<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.RecruitCorrectrecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.RecruitCorrectrecord">
        <id column="CORRECTRECORD_ID" property="correctrecordId" />
        <result column="CORRECTRECORD_DATE" property="correctrecordDate" />
        <result column="COURSE_ID" property="courseId" />
        <result column="COURSECORRECT_ID" property="coursecorrectId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CORRECTRECORD_ID, CORRECTRECORD_DATE, COURSE_ID, COURSECORRECT_ID, DELETED
    </sql>

</mapper>
