<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.RecruitStudenthonorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.RecruitStudenthonor">
        <id column="STUDENTHONOR_ID" property="studenthonorId" />
        <result column="STUDENTHONOR_DATE" property="studenthonorDate" />
        <result column="STUDENTHONOR_CONTENT" property="studenthonorContent" />
        <result column="STUDENT_ID" property="studentId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STUDENTHONOR_ID, STUDENTHONOR_DATE, STUDENTHONOR_CONTENT, STUDENT_ID, DELETED
    </sql>

</mapper>
