<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.RecruitStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.RecruitStudent">
        <id column="STUDENT_ID" property="studentId" />
        <result column="STUDENT_NAME" property="studentName" />
        <result column="STUDENT_SEX" property="studentSex" />
        <result column="STUDENT_AGE" property="studentAge" />
        <result column="STUDENT_BIRTHDAY" property="studentBirthday" />
        <result column="STUDENT_PHONE" property="studentPhone" />
        <result column="PARENT_PHONE" property="parentPhone" />
        <result column="STUDENT_SCHOOL" property="studentSchool" />
        <result column="STUDENT_LOC" property="studentLoc" />
        <result column="STUDENT_ENTRANCE" property="studentEntrance" />
        <result column="CLASSES_ID" property="classesId" />
        <result column="COURSE_ID" property="courseId" />
        <result column="DELETED" property="deleted" />
    </resultMap>
    <resultMap id="studentMap" type="com.trkj.train.TyVo.StudentDo">
        <result column="student_id" property="student_id" />
        <result column="student_name" property="student_name" />
        <result column="student_sex" property="student_sex" />
        <result column="student_age" property="student_age" />
        <result column="STUDENT_BIRTHDAY" property="student_birthday" />
        <result column="student_phone" property="student_phone" />
        <result column="parent_phone" property="parent_phone" />
        <result column="student_school" property="student_school" />
        <result column="student_loc" property="student_loc" />
        <result column="classes_id" property="classes_id" />
        <result column="classes_name" property="classes_name" />
        <result column="course_id" property="course_id" />
        <result column="course_name" property="course_name" />
        <result column="student_entrance" property="student_entrance" />
        <result column="staff_id" property="staff_id"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STUDENT_ID, STUDENT_NAME, STUDENT_SEX, STUDENT_AGE, STUDENT_BIRTHDAY, STUDENT_PHONE, PARENT_PHONE, STUDENT_SCHOOL, STUDENT_LOC, STUDENT_ENTRANCE, CLASSES_ID, COURSE_ID, DELETED
    </sql>

    <select id="selectpage" resultMap="studentMap">
        SELECT * FROM recruit_student s
                          LEFT JOIN ect_classes c on s.classes_id=c.classes_id
                          LEFT JOIN recruit_course co on s.course_id=co.course_id
                          LEFT JOIN sys_staff staff on s.staff_id=staff.staff_id
                          where s.deleted=0
    </select>
    <select id="selectipton" resultMap="studentMap">
        SELECT * FROM recruit_student s
                          LEFT JOIN ect_classes c on s.classes_id=c.classes_id
                          LEFT JOIN recruit_course co on s.course_id=co.course_id
                          LEFT JOIN sys_staff staff on s.staff_id=staff.staff_id
            ${ew.customSqlsegment}
    </select>
</mapper>
