<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.RecruitChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.RecruitChannel">
        <id column="CHANNEL_ID" property="channelId" />
        <result column="CHANNEL_NAME" property="channelName" />
        <result column="CHANNEL_LOC" property="channelLoc" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CHANNEL_ID, CHANNEL_NAME, CHANNEL_LOC, DELETED
    </sql>

</mapper>
