<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.SysStaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.SysStaff">
        <id column="STAFF_ID" property="staffId" />
        <result column="STAFF_NAME" property="staffName" />
        <result column="STAFF_PASS" property="staffPass" />
        <result column="STAFF_STATE" property="staffState" />
        <result column="STAFF_TIME" property="staffTime" />
        <result column="PERSONAL_ID" property="personalId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STAFF_ID, STAFF_NAME, STAFF_PASS, STAFF_STATE, STAFF_TIME, PERSONAL_ID, DELETED
    </sql>

</mapper>
