<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.train.mapper.SysStaffPositionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.train.entity.SysStaffPosition">
        <id column="STAFFPOSITION_ID" property="staffpositionId" />
        <result column="STAFF_ID" property="staffId" />
        <result column="POSITION_ID" property="positionId" />
        <result column="DELETED" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STAFFPOSITION_ID, STAFF_ID, POSITION_ID, DELETED
    </sql>

    <!--<insert id="insertBatch" parameterType="java.util.List">
        　　insert into sys_staff_position (
        　　　　staffPosition_id,
        　　　　staff_id,
        　　　　position_id
        　　)
        values
        　　<foreach collection="list" item="item" index="index" separator=",">
        　　　(position_menu_seq.nextval,
        　　　　#{item.staffId, jdbcType = NUMERIC},
        　　　　#{item.positionId, jdbcType = NUMERIC}
        )
        　　</foreach>

    </insert>-->

    <insert id="insertBatch" parameterType="java.util.List">
        　　insert into sys_staff_position (
        　　　　staffPosition_id,
        　　　　staff_id,
        　　　　position_id
        )
        select position_menu_seq.nextval,A.* from(
        　　<foreach collection="list" item="item" index="index" separator="UNION ALL">
            select
        　　　　#{item.staffId, jdbcType = NUMERIC},
        　　　　#{item.positionId, jdbcType = NUMERIC}
        from dual
        　　</foreach>
        ) A
    </insert>

    <delete id="deleteByStaffId">
        delete from sys_staff_position where staff_id=#{staffId,jdbcType=NUMERIC}
    </delete>

    <select id="selectBystaffid" resultType="com.trkj.train.entity.SysPosition">
        select
            DISTINCT   p.*
        from
            sys_STAFF_POSITION sp
                LEFT JOIN sys_POSITION p on sp.POSITION_ID=p.POSITION_ID
                LEFT JOIN SYS_STAFF s on sp.STAFF_ID=s.STAFF_ID
        WHERE
            s.STAFF_ID=#{staffid}
          and sp.deleted=0
    </select>

</mapper>
